In [1]:
9

In [2]:
path = r'C:\Users\agarcia\OneDrive - ITURRI S.A\AGS\Data Analytics Careerfoundy\11-2022 Instacart Grocery Basket Analysis\02 Data'

In [6]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared data', 'ords_prods_merged_4_7.pkl'))

In [7]:
df = ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 19)

In [9]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Average orders
6,550135,1,prior,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders

In [10]:
# Grouping Data with pandas
df.groupby('product_name')

In [11]:
#Performing a Single Aggregation
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [12]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [13]:
df.groupby('department_id').order_number.mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [14]:
#Performing Multiple Aggregations

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

##Aggregating Data with transform()

In [16]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [17]:
b

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22

In [18]:
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Most orders,3
96,1469869,377,prior,3,5,17,3.0,196,9,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy days,Most orders,3
97,1927023,387,prior,2,4,10,22.0,196,3,0,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,8
98,858092,420,prior,4,1,19,30.0,196,2,0,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Average orders,22
99,119314,420,prior,5,3,19,16.0,196,2,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,22

#Deriving Columns with loc()

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [21]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [22]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

### Task

#In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [25]:
# Grouping Data with pandas
ords_prods_merge.groupby('product_name')

In [26]:
#Performing a Single Aggregation
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [27]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [28]:
ords_prods_merge.groupby('department_id').order_number.mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [29]:
#Performing Multiple Aggregations

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

In [34]:
#Analyze the result. How do the results for the entire dataframe differ from those of the subset? 
#Include your comments in a markdown cell below the executed code.

Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

Done (see line 16)

In [35]:
# The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. 
#Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). 
#What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [37]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [38]:
# The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [50]:
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['product_name'])['prices'].transform(np.mean)

In [51]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy days,Average orders,10,New customer,9.0,NaN
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,NaN
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,9.0,NaN
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,NaN
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,9.0,NaN
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Average orders,10,New customer,9.0,NaN
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,NaN
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,NaN
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,NaN
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,NaN
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,NaN
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,22,Regular customer,9.0,NaN
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,22,Regular customer,9.0,NaN
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,NaN
14,487368,15,prior,22,1,10,14.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,NaN

In [47]:
ords_prods_merge.groupby('mean_price').agg({'prices': ['mean', 'min', 'max']})

             prices
               mean      min      max
mean_price
1.0             1.0      1.0      1.0
1.1             1.1      1.1      1.1
1.2             1.2      1.2      1.2
1.2             1.2      1.2      1.2
1.3             1.3      1.3      1.3
...             ...      ...      ...
24.8           24.8     24.8     24.8
24.9           24.9     24.9     24.9
25.0           25.0     25.0     25.0
14900.0     14900.0  14900.0  14900.0
99999.0     99999.0  99999.0  99999.0

[410 rows x 3 columns]

In [41]:
#Deriving Columns with loc()

In [52]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [56]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [57]:
ords_prods_merge.head(60)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy days,Average orders,10,New customer,9.0,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,9.0,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,9.0,Low spender
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Average orders,10,New customer,9.0,Low spender
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,Low spender
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,Low spender
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,Low spender
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,Low spender
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,22,Regular customer,9.0,Low spender
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,22,Regular customer,9.0,Low spender
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender
14,487368,15,prior,22,1,10,14.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,9,New customer,9.0,Low spender
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,9,New customer,9.0,Low spender
17,532817,19,prior,7,4,17,6.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,9,New customer,9.0,Low spender
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,7,9.0,both,Mid-range product,Slowest days,Most orders,33,Regular customer,9.0,Low spender
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,7,9.0,both,Mid-range product,Slowest days,Average orders,20,Regular customer,9.0,Low spender
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,20,Regular customer,9.0,Low spender
21,2580647,43,prior,6,4,16,4.0,196,9,0,...,7,9.0,both,Mid-range product,Slowest days,Most orders,11,Regular customer,9.0,Low spender
22,2187180,43,prior,9,4,12,3.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,11,Regular customer,9.0,Low spender
23,2497897,52,prior,1,1,9,NaN,196,4,0,...,7,9.0,both,Mid-range product,Busiest days,Most orders,27,Regular customer,9.0,Low spender
24,1318871,52,prior,2,1,10,7.0,196,5,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,27,Regular customer,9.0,Low spender
25,1261384,52,prior,3,1,10,7.0,196,3,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,27,Regular customer,9.0,Low spender
26,580568,52,prior,5,2,10,8.0,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,27,Regular customer,9.0,Low spender
27,2428073,52,prior,7,2,7,8.0,196,5,1,...,7,9.0,both,Mid-range product,Regularly busy days,Average orders,27,Regular customer,9.0,Low spender
28,342306,52,prior,9,1,11,7.0,196,5,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,27,Regular customer,9.0,Low spender
29,1520353,52,prior,10,2,10,8.0,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,27,Regular customer,9.0,Low spender
30,2542086,52,prior,11,2,9,7.0,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,27,Regular customer,9.0,Low spender
31,944694,52,prior,12,1,16,6.0,196,7,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,27,Regular customer,9.0,Low spender
32,1268191,52,prior,15,2,11,8.0,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,27,Regular customer,9.0,Low spender
33,1122089,52,prior,17,2,10,6.0,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,27,Regular customer,9.0,Low spender
34,1498922,52,prior,18,2,10,14.0,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,27,Regular customer,9.0,Low spender
35,180919,52,prior,19,3,8,8.0,196,4,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,27,Regular customer,9.0,Low spender
36,2695875,52,prior,21,5,10,30.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,27,Regular customer,9.0,Low spender
37,3205960,67,prior,1,3,11,NaN,196,1,0,...,7,9.0,both,Mid-range product,Slowest days,Most orders,24,Regular customer,9.0,Low spender
38,970922,67,prior,2,1,15,5.0,196,2,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
39,596585,67,prior,3,1,13,7.0,196,2,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
40,2037087,67,prior,4,2,9,8.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,24,Regular customer,9.0,Low spender
41,2474111,67,prior,5,3,14,8.0,196,2,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,24,Regular customer,9.0,Low spender
42,1568481,67,prior,6,3,12,7.0,196,2,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,24,Regular customer,9.0,Low spender
43,2048527,67,prior,8,2,11,7.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,24,Regular customer,9.0,Low spender
44,2389031,67,prior,9,2,14,7.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,24,Regular customer,9.0,Low spender
45,2378562,67,prior,10,1,10,6.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
46,1515698,67,prior,11,1,11,7.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
47,1928050,67,prior,12,2,12,8.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,24,Regular customer,9.0,Low spender
48,1949274,67,prior,13,1,10,6.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
49,551869,67,prior,14,1,9,7.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
50,768572,67,prior,16,4,10,9.0,196,1,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,24,Regular customer,9.0,Low spender
51,150528,67,prior,18,5,16,4.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,24,Regular customer,9.0,Low spender
52,29758,67,prior,19,0,14,9.0,196,2,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
53,1558976,67,prior,21,1,9,5.0,196,2,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
54,863974,67,prior,22,1,11,14.0,196,3,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
55,2308399,67,prior,23,1,14,14.0,196,1,1,...,7,9.0,both,Mid-range product,Busiest days,Most orders,24,Regular customer,9.0,Low spender
56,2759128,81,prior,3,1,9,14.0,196,2,0,...,7,9.0,both,Mid-range product,Busiest days,Most orders,7,New customer,9.0,Low spender
57,1812985,81,prior,5,2,20,30.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy days,Average orders,7,New customer,9.0,Low spender
58,1889835,82,prior,1,3,15,NaN,196,6,0,...,7,9.0,both,Mid-range product,Slowest days,Most orders,19,Regular customer,9.0,Low spender
59,499460,82,prior,3,5,10,5.0,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy days,Most orders,19,Regular customer,9.0,Low spender

In [59]:
#check 
ords_prods_merge['spending_flag'].value_counts(dropna= False)

Low spender     32277017
High spender      127842
Name: spending_flag, dtype: int64

In [60]:
ords_prods_merge[['user_id', 'spending_flag', 'loyalty_flag', 'order_number']].head(20)

    user_id spending_flag      loyalty_flag  order_number
0         1   Low spender      New customer             1
1         1   Low spender      New customer             2
2         1   Low spender      New customer             3
3         1   Low spender      New customer             4
4         1   Low spender      New customer             5
5         1   Low spender      New customer             6
6         1   Low spender      New customer             7
7         1   Low spender      New customer             8
8         1   Low spender      New customer             9
9         1   Low spender      New customer            10
10       15   Low spender  Regular customer            15
11       15   Low spender  Regular customer            17
12       15   Low spender  Regular customer            18
13       15   Low spender  Regular customer            21
14       15   Low spender  Regular customer            22
15       19   Low spender      New customer             2
16       19   Low spender      New customer             5
17       19   Low spender      New customer             7
18       21   Low spender  Regular customer            10
19       31   Low spender  Regular customer            10

In [61]:
#In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. 
#Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
#If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [62]:
ords_prods_merge['median_days_spo'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [63]:
ords_prods_merge.head(20)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_spo
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regularly busy days,Average orders,10,New customer,9.0,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,9.0,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,9.0,Low spender,20.5
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy days,Average orders,10,New customer,9.0,Low spender,20.5
6,550135,1,prior,7,1,9,20.0,196,1,1,...,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,Low spender,20.5
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,Low spender,20.5
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,9.0,Low spender,20.5
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,9.0,Low spender,20.5
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender,10.0
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,9.0,both,Mid-range product,Regularly busy days,Most orders,22,Regular customer,9.0,Low spender,10.0
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy days,Most orders,22,Regular customer,9.0,Low spender,10.0
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender,10.0
14,487368,15,prior,22,1,10,14.0,196,1,1,...,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender,10.0
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,9.0,both,Mid-range product,Regularly busy days,Most orders,9,New customer,9.0,Low spender,6.0
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,9.0,both,Mid-range product,Regularly busy days,Most orders,9,New customer,9.0,Low spender,6.0
17,532817,19,prior,7,4,17,6.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Most orders,9,New customer,9.0,Low spender,6.0
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,9.0,both,Mid-range product,Slowest days,Most orders,33,Regular customer,9.0,Low spender,7.5
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,9.0,both,Mid-range product,Slowest days,Average orders,20,Regular customer,9.0,Low spender,6.0

In [64]:
#Deriving Columns with loc()

In [65]:
ords_prods_merge.loc[ords_prods_merge['median_days_spo'] >= 20, 'frequent_customer_flag'] = 'Non-frequent customer'

In [68]:
ords_prods_merge.loc[(ords_prods_merge['median_days_spo'] > 10) & (ords_prods_merge['median_days_spo'] < 20 ) , 'frequent_customer_flag'] = 'Regular customer'

In [72]:
ords_prods_merge.loc[ords_prods_merge['median_days_spo'] <=10, 'frequent_customer_flag'] = 'Frequent customer'

In [73]:
#check
ords_prods_merge['frequent_customer_flag'].value_counts(dropna= False)

Frequent customer        21559853
Regular customer          6836350
Non-frequent customer     4008651
NaN                             5
Name: frequent_customer_flag, dtype: int64

In [75]:
#summary 

ords_prods_merge[['user_id', 'spending_flag', 'loyalty_flag', 'frequent_customer_flag']].head(20)

    user_id spending_flag      loyalty_flag frequent_customer_flag
0         1   Low spender      New customer  Non-frequent customer
1         1   Low spender      New customer  Non-frequent customer
2         1   Low spender      New customer  Non-frequent customer
3         1   Low spender      New customer  Non-frequent customer
4         1   Low spender      New customer  Non-frequent customer
5         1   Low spender      New customer  Non-frequent customer
6         1   Low spender      New customer  Non-frequent customer
7         1   Low spender      New customer  Non-frequent customer
8         1   Low spender      New customer  Non-frequent customer
9         1   Low spender      New customer  Non-frequent customer
10       15   Low spender  Regular customer      Frequent customer
11       15   Low spender  Regular customer      Frequent customer
12       15   Low spender  Regular customer      Frequent customer
13       15   Low spender  Regular customer      Frequent customer
14       15   Low spender  Regular customer      Frequent customer
15       19   Low spender      New customer      Frequent customer
16       19   Low spender      New customer      Frequent customer
17       19   Low spender      New customer      Frequent customer
18       21   Low spender  Regular customer      Frequent customer
19       31   Low spender  Regular customer      Frequent customer

In [77]:
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_4_8.pkl'))